
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

[no-scroll] {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    font-size: 5vw;
    line-height: 4.5vw;
    color: rgb(194, 194, 194);
    background-color: #343434;
    padding-top: 1vw;
    padding-left: 15%;
    padding-right: 15%;
}

video {
    position: relative;
    top: 50%;
    width: 100%;
}

.popup {
    position:fixed;
    inset: 0;
    background-color: rgba(128, 128, 128, .9);
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

.overlay-image {
    position: absolute;
    width: 100vw;
    height: auto;
    object-fit: cover;

  }

.indent {
    font-weight: bold;
    text-indent: 5vw;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 36px;
        line-height: 35px;
        padding: 5vw;
    }

    .indent {
        text-indent: 36px;
    }

}